<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.k2ohashi.testapp">

    <receiver
        android:name=".ReceivedActivity"
        android:process=":remote" />

    <application
        android:name=".WeatherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Ui.Activity.ReceivedActivity"
            android:process=":remote" />

        <activity
            android:name=".Activity.AlarmCreateActivity"
            android:label="@string/title_activity_alarm_create"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- 取得したAPIキーはここに記述　GoogleMapAPI KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBiG6Mv4NrCb3MeZwiRfC3oqUy5KqwPPWM"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>